<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <h2>About GIBU GUMI</h2>
      <h4>Software Testing and Education are our core business. All GIBU GUMI employees are certified professionals, in favor of a pragmatic, structured and efficient approach.</h4>
      <h4>We gather knowledge and share it with our clients in order to excel together.</h4>
      <h4>By delivering top quality services with a passionate team, we help people to reach their aims.</h4>
      <a href="#contact"><button class="btn btn-default btn-lg">Get in Touch</button></a>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-6 pull-right">
      <h1>Our Values</h1>
      <h4>
        <strong>MISSION:</strong>
        <ul>
          <li>Do More With Less</li>
          <li>Grow Your Business</li>
          <li>Improve Agility</li>
          <li>Reduce the Risk</li>
        </ul>
      </h4>
    </div>
  </div>
</div>