<!-- Container (Contact Section) -->
<%= form_for @contact, url: home_index_path do |f| %>
  <div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Contact us and we'll get back to you as soon as possible.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Brussels, Belgium</p>
        <p><span class="glyphicon glyphicon-phone"></span> French or English +32 495813730</p>
        <p><span class="glyphicon glyphicon-phone"></span> Japanese or English +32 483237730</p>
        <p><span class="glyphicon glyphicon-envelope"></span> info@gibugumi.com</p>
      </div>
      <div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <%= f.text_field  :name, required: true, class: "form-control", placeholder: "NAME" %>
          </div>
          <div class="col-sm-6 form-group">
            <%= f.text_field :email, required: true, class: "form-control", placeholder: "EMAIL" %>
          </div>
        </div>
        <div>
          <%= f.text_area :message, rows: 5, required: true, class: "form-control", placeholder: "Send a message to GIBU GUMI."%>
        </div>

        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>