<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>Sofware Engineering</h4>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-body">IT Consulting Services</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">Discover more</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>English Education</h4>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-body">English Education</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">Discover more</div>
        </div>
      </div>
    </div>
  </div>
</div>